<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  
  <?define SaltyBet-Desktop_TargetDir=$(var.SaltyBet-Desktop.TargetDir)?>
  
  <Product Id="*" 
           Name="SaltyBot" 
           Language="1033" 
           Version="1.0.0.0" 
           Manufacturer="Faylite" 
           UpgradeCode="54b176c3-585f-455a-9356-71b99fec404c">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message="This application requires .NET Framework 4.5.2. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed or NETFRAMEWORK45]]>
    </Condition>
    <WixVariable Id="WixUILicenseRtf" Value="res\Apache-2.0.rtf" />
    <UIRef Id="WixUI_InstallDir"/>
    
    <Feature Id="ProductFeature" Title="SaltyBot" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ShortcutComponents" />
      <ComponentGroupRef Id="CefSharpDependencies"/>
      <ComponentGroupRef Id="SQLiteDependencies"/>
      <ComponentRef Id="file_SQLite.Interop.dll"/>
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="SaltyBot">
          <Directory Id="X86" Name="x86" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="AppStartMenuFolder" Name="SaltyBot" />
      </Directory>
    </Directory>
  </Fragment>
  
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="file_SaltyBot.exe">
        <File Source="$(var.SaltyBet-Desktop_TargetDir)SaltyBot.exe" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="ShortcutComponents">
      <Component Id="shortcut_SaltyBot.exe" Directory="AppStartMenuFolder">
        <Shortcut Id="shortcut_SaltyBot.exe" 
                  Name="SaltyBot" 
                  Description="SaltyBet match data scraper" 
                  Directory="AppStartMenuFolder" 
                  Target="[INSTALLFOLDER]SaltyBot.exe" />
        <RemoveFolder Id="RemoveAppStartMenuFolder" Directory="AppStartMenuFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\SaltyBot" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="CefSharpDependencies" Directory="INSTALLFOLDER">
      <Component Id="file_CefSharp.BrowserSubprocess.Core.dll">
        <File Source="$(var.SaltyBet-Desktop_TargetDir)CefSharp.BrowserSubprocess.Core.dll" />
      </Component>
      <Component Id="file_CefSharp.BrowserSubprocess.exe">
        <File Source="$(var.SaltyBet-Desktop_TargetDir)CefSharp.BrowserSubprocess.exe" />
      </Component>
      <Component Id="file_CefSharp.dll">
        <File Source="$(var.SaltyBet-Desktop_TargetDir)CefSharp.dll" />
      </Component>
      <Component Id="file_CefSharp.Core.dll">
        <File Source="$(var.SaltyBet-Desktop_TargetDir)CefSharp.Core.dll" />
      </Component>
      <Component Id="file_CefSharp.OffScreen.dll">
        <File Source="$(var.SaltyBet-Desktop_TargetDir)CefSharp.OffScreen.dll" />
      </Component>
      <Component Id="file_icudtl.dat">
        <File Source="$(var.SaltyBet-Desktop_TargetDir)icudtl.dat" />
      </Component>
      <Component Id="file_libcef.dll">
        <File Source="$(var.SaltyBet-Desktop_TargetDir)libcef.dll" />
      </Component>
      <Component Id="file_natives_blob.bin">
        <File Source="$(var.SaltyBet-Desktop_TargetDir)natives_blob.bin" />
      </Component>
      <Component Id="file_snapshot_blob.bin">
        <File Source="$(var.SaltyBet-Desktop_TargetDir)snapshot_blob.bin" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="SQLiteDependencies" Directory="INSTALLFOLDER">
      <Component Id="file_EntityFramework.dll">
        <File Source="$(var.SaltyBet-Desktop_TargetDir)EntityFramework.dll" />
      </Component>
      <Component Id="file_EntityFramework.SqlServer.dll">
        <File Source="$(var.SaltyBet-Desktop_TargetDir)EntityFramework.SqlServer.dll" />
      </Component>
      <Component Id="file_System.Data.SQLite.dll">
        <File Source="$(var.SaltyBet-Desktop_TargetDir)System.Data.SQLite.dll" />
      </Component>
      <Component Id="file_System.Data.SQLite.EF6.dll">
        <File Source="$(var.SaltyBet-Desktop_TargetDir)System.Data.SQLite.EF6.dll" />
      </Component>
      <Component Id="file_System.Data.SQLite.Linq.dll">
        <File Source="$(var.SaltyBet-Desktop_TargetDir)System.Data.SQLite.Linq.dll" />
      </Component>
    </ComponentGroup>
    <Component Id="file_SQLite.Interop.dll" Directory="X86">
      <File Source="$(var.SaltyBet-Desktop_TargetDir)x86\SQLite.Interop.dll" />
    </Component>
  </Fragment>
</Wix>