<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <?define SaltyBet-Desktop_TargetDir=$(var.SaltyBet-Desktop.TargetDir)?>
  
  <Product Id="*" 
           Name="SaltyBot" 
           Language="1033" 
           Version="1.0.0.0" 
           Manufacturer="Faylite" 
           UpgradeCode="54b176c3-585f-455a-9356-71b99fec404c">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir"/>
    
    <Feature Id="ProductFeature" Title="SaltyBot" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="CefSharpDependencies"/>
      <ComponentGroupRef Id="SQLiteDependencies"/>
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="CompanyFolder" Name="Faylite">
          <Directory Id="INSTALLFOLDER" Name="SaltyBot" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="file_SaltyBot.exe">
        <File Source="$(var.SaltyBet-Desktop_TargetDir)SaltyBet.exe"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="CefSharpDependencies" Directory="INSTALLFOLDER">
      <Component Id="file_libcef.dll">
        <File Source="$(var.SaltyBet-Desktop_TargetDir)libcef.dll" />
      </Component>
      <Component Id="file_CefSharp.dll">
        <File Source="$(var.SaltyBet-Desktop_TargetDir)CefSharp.dll" />
      </Component>
      <Component Id="file_CefSharp.OffScreen.dll">
        <File Source="$(var.SaltyBet-Desktop_TargetDir)CefSharp.OffScreen.dll" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="SQLiteDependencies" Directory="INSTALLFOLDER">
      
    </ComponentGroup>
  </Fragment>
</Wix>